# Ignore Python bytecode files and caches
__pycache__/
*.pyc

# Ignore coverage reports
.coverage
htmlcov/

# ignore documentation
docs

# ignore diagrams
uml

# Ignore pytest cache
.pytest_cache/

# Ignore environment files
.env

# Ignore any virtual environments
venv/


# PyInstaller files
build/
dist/
*.spec

# Python cache
__pycache__/
*.pyc

# Test artifacts
.pytest_cache/
htmlcov/
.coverage

# OS-specific files
.DS_Store
Thumbs.db
